.product-card {
    text-align: center;
    color: #ec8f03;
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 30px;
}

.product-card img {
    width: 100%;
    max-width: 300px;
    /* Set a maximum width */
    max-height: 300px;
    /* Set a maximum height */
    object-fit: contain;
    /* Ensure the image keeps its aspect ratio */
}

.buy-now {
    background-color: #f7c335;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    color: #252525;
    font-weight: 900;
    font-size: clamp(2em, 3vw, 4rem);
}

.product-name {
    margin-top: 0.5rem;
    font-size: clamp(1.5em, 1vw, 2rem);
}

.price {
    font-size: clamp(2em, 2vw, 2rem);
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #d40902;
}

a:hover {
    text-decoration: none;
    color: #252525;
}